body {
  padding-bottom: 30px;
}

/** Navigation **/
#navigation a.navbar-brand {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

#navbar a:hover, #navbar a:active {
  background-color: #3b3b3b;
}
#navbar a {
  color: #000000;
}

#content section {
  background-color: grey;
  margin-bottom: 20px;
}

.navbar-inverse {

    background-color: gray;
    border-color: #080808;

}